@font-face {
  font-family: "Univers-Regular";
  src: url(./fonts/univers/UniversRegular.ttf);
}

@font-face {
  font-family: "Trajan-Bold";
  src: url(./fonts/FontsFree-Net-TrajanPro-Bold.ttf);
}

@font-face {
  font-family: "Kufam-Regular";
  src: url(./fonts/Kufam-Regular.ttf);
}

@font-face {
  font-family: "Kufam-Italic";
  src: url(./fonts/Kufam-Italic.ttf);
}

@font-face {
  font-family: "Kufam-Bold";
  src: url(./fonts/Kufam-Bold.ttf);
}

@font-face {
  font-family: "Kufam-Bold-Italic";
  src: url(./fonts/Kufam-SemiBoldItalic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kufam-Regular", sans-serif;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trajan-Bold";
  font-weight: normal;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow-x: hidden;
  transition: padding-top 0.25s;
  min-height: 100vh;
  padding-top: 91px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* NEON STYLINGS */
.neon-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/background-image/neon-background-large.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

/* Neon text styling */
.neonTextTitle {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ffc108,
    0 0 82px #ffc108, 0 0 92px #ffc108, 0 0 102px #ffc108, 0 0 151px #ffc108;
  font-family: "Kufam-Regular", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  margin: 6rem 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ffc108,
    0 0 0.8rem #ffc108, 0 0 2.8rem #ffc108, inset 0 0 1.3rem #ffc108;
}
.neonTextTitle2 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff52ff,
    0 0 82px #ff52ff, 0 0 92px #ff52ff, 0 0 102px #ff52ff, 0 0 151px #ff52ff;
  font-family: "Kufam-Regular", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4rem;
  transition: ease-in-out .25s;
  animation: pulsate2 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  margin: 6rem 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff52ff,
    0 0 0.8rem #ff52ff, 0 0 2.8rem #ff52ff, inset 0 0 1.3rem #ff52ff;
}
.neonTextTitle2:hover {
  transform: translateY(-10px) scale(1.05);;
  
}
.neonText {
  color: #fff;
  font-family: "Kufam-Regular", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.4em;
}
.neonText:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff52ff,
    0 0 500px #ff52ff, 0 0 2px #ff52ff, 0 0 2px #ff52ff, 0 0 2px #ff52ff;
}

/* Neon hover effect for divs */
.neonHover {
  transition: all 0.3s ease;
  border: 0.2rem solid transparent;
  border-radius: 2rem;
  padding: 1rem;
  overflow: hidden;
}

.neonHover:hover {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ffc108,
    0 0 0.8rem #ffc108, 0 0 2.8rem #ffc108, inset 0 0 1.3rem #ffc108;
  animation: pulsate2 0.9s infinite alternate;
}
/* Pulsating animation for both text and hover effects */
@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #ffc108,
      0 0 80px #ffc108, 0 0 90px #ffc108, 0 0 100px #ffc108, 0 0 150px #ffc108;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ffc108,
      0 0 0.8rem #ffc108, 0 0 2.8rem #ffc108, inset 0 0 1.3rem #ffc108;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #ffc108,
      0 0 45px #ffc108, 0 0 55px #ffc108, 0 0 70px #ffc108, 0 0 80px #ffc108;
    box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #ffc108,
      0 0 0.4rem #ffc108, 0 0 1.4rem #ffc108, inset 0 0 0.65rem #ffc108;
  }
}
@keyframes pulsate2 {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #ff52ff,
      0 0 80px #ff52ff, 0 0 90px #ff52ff, 0 0 100px #ff52ff, 0 0 150px #ff52ff;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ffc108,
      0 0 0.8rem #ff52ff, 0 0 2.8rem #ff52ff, inset 0 0 1.3rem #ff52ff;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #ffc108,
      0 0 45px #ff52ff, 0 0 55px #ff52ff, 0 0 70px #ff52ff, 0 0 80px #ff52ff;
    box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #ffc108,
      0 0 0.4rem #ff52ff, 0 0 1.4rem #ff52ff, inset 0 0 0.65rem #ff52ff;
  }
}
/* Neon Media Queries */
/* For large screens (tablets) */
@media (min-width: 1300px) {
  body {
    background-image: url(./images/background-image/neon-background-large.jpg);
  }
}

/* For medium screens (tablets) */
@media only screen and (max-width: 1200px) {
  .neon-background {
    background-image: url("./images/background-image/neon-background-medium.jpg");
  }
}

/* For small screens (mobile) */
@media only screen and (max-width: 768px) {
  .neon-background {
    background-image: url("./images/background-image/neon-background-small.jpg");
    background-position: 70% center;
  }
  .neonTextTitle, .neonTextTitle2 {
    font-size: 2.5rem;
  }
}

body.show {
  padding-top: 200px;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 91px;
  background-color: #000000;
  border-bottom: #ffddff solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 1px #ff52ff, 0 0 1px #ff52ff, 0 0 30px #ff52ff,
    0 0 0px #ff52ff, 0 0 0px #ff52ff, 0 0 0px #ff52ff, 0 0 0px #ff52ff,
    0 0 0px #ff52ff;
  transition-duration: 0.25s;
  transition-property: height;
  z-index: 200;
}
header #navbar {
  overflow: hidden;
  height: 0px;
  opacity: 0;
  transition-property: opacity height;
  transition-duration: 0.25s;
}
header #navbar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header #navbar ul li {
  transition: all 0.25s;
  margin: 5px 0;
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
}
header #navbar ul li:hover {
  transform: translateY(-5px);
}
header #logo {
  width: 100%;
  padding: 31px 25px 0px;
  display: flex;
  justify-content: space-between;
}
header #mobile-lines {
  width: 40px;
  cursor: pointer;
}
header #logo-text {
  max-width: 200px;
  cursor: pointer;
}
header.show {
  height: 15rem;
}
header.show #navbar {
  height: 100%;
  opacity: 1;
}

#main-logo {
  max-width: 538px;
  margin: 36px 20px 0px;
}

#designers {
  margin: 60px 0 30px;
  font-family: "Trajan-Bold", sans-serif;
  color: #ffddff;
}

#gallery {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0 60px 30px;
}
#gallery .designer {
  position: relative;
  display: flex;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  width: 284px;
}

#gallery .designer img {
  cursor: pointer;
  width: 100%;
  /* border-radius: 30px; */
  filter: grayscale(1);
  transition: filter 0.25s;
  border-radius: 2rem;
}
#gallery .designer img:hover {
  filter: grayscale(0);
}
#gallery .designer h2 {
  cursor: pointer;
  margin-top: 30px;
  color: #e4eaf6;
  transition: color 0.25s;
}

footer {
  box-shadow: 0px -15px 15px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
  height: 218px;
  width: 100vw;
  background-color: #ffddff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
footer ul li {
  margin: 0px 10px;
  cursor: pointer;
  transition: all 0.25s;
}
footer ul li:hover {
  transform: translateY(-5px);
}
footer #school-logo {
  width: 100px;
  margin-top: 40px;
}

#designer-page {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #e4eaf6;
  text-align: center;
}
#designer-page #name {
  color: #e4eaf6;
  margin-top: 30px;
  font-size: 48px;
}
#designer-page #collection-name {
  color: #fdf;
  font-family: "Kufam-Regular", sans-serif;
  font-size: 2.2rem;
}

.next-pink,
.back-pink {
  position: absolute;
  right: 10%;
  top: 140px;
  background-image: url("images/icons/next-pink.png");
  width: 68px;
  height: 78px;
  color: transparent;
  background-size: 68px;
  background-repeat: no-repeat;
  z-index: 100;
}

.back-pink {
  left: 10%;
  background-image: url("images/icons/back-pink.png");
}

#designer-page #collection-gallery {
  margin-top: 15px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#designer-page #collection-gallery .container {
  font-size: 0;
  position: relative;
  max-width: 250px;
  height: auto;
  margin: 10px 25px;
}
#designer-page #collection-gallery .container .description {
  cursor: default;
  font-size: 16px;
}
#designer-page #collection-gallery .container .overlay {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  /* border-radius: 30px; */
  transition: opacity 0.25s;
}
#designer-page #collection-gallery .container .overlay:hover {
  opacity: 1;
  user-select: none;
}
#designer-page #collection-gallery img {
  width: 100%;
  height: auto;
  /* border-radius: 30px; */
}

#headshot-container {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 3rem;
}

#designer-page #flex-horizontal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: top;
  padding: 80px 40px;
}

#designer-page #flex-horizontal #designer-headshot,
#designerlogo {
  width: 250px;
  /* border-radius: 30px; */
}
#designer-page #flex-horizontal #flex-vertical {
  padding-top: 0;
  max-width: 650px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
#designer-page #flex-horizontal #flex-vertical #bio,
#designer-page #flex-horizontal #flex-vertical #statement {
  /* padding: 10px 0; */
}
#statement {
  margin-top: 2rem;
}
#designer-page #flex-horizontal #flex-vertical #bio h2,
#designer-page #flex-horizontal #flex-vertical #statement h2 {
  font-size: 30px;
  margin-bottom: 4px;
}
#designer-page #flex-horizontal #flex-vertical #contact-info {
  padding-top: 15px;
}
#designer-page #flex-horizontal #flex-vertical a {
  display: flex;
  margin: 10px 0;
  align-items: center;
  font-size: 20px;
  color: #99aeda;
  transition: color 0.25s;
}
#designer-page #flex-horizontal #flex-vertical a:hover {
  color: #e4eaf6;
}
#designer-page #flex-horizontal #flex-vertical a.instagram::before {
  content: url(./images/icons/instagram.svg);
}
#designer-page #flex-horizontal #flex-vertical a.email::before {
  content: url(./images/icons/email.svg);
}
#designer-page #flex-horizontal #flex-vertical a.email::before,
#designer-page #flex-horizontal #flex-vertical a.instagram::before {
  font-size: 0px;
  display: inline-block;
  /* border-radius: 10%; */
  width: 30px;
  margin-right: 10px;
}

#show-title {
  color: #99aeda;
  font-family: "Trajan-Bold", sans-serif;
  padding-top: 50px;
}

#show {
  width: 100%;
  flex-grow: 1;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#show #main-logo {
  filter: opacity(0.5);
}
#show a {
  text-decoration: none;
  color: #e4eaf6;
  transition: color 0.25s;
}
#show a:hover {
  color: #99aeda;
}

#credits-title {
  color: #e4eaf6;
  font-family: "Trajan-Bold", sans-serif;
  padding-top: 50px;
}

#credits {
  width: 100%;
  height: auto;
  flex-grow: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#credits ul {
  list-style-type: none;
  color: #e4eaf6;
  margin-bottom: 30px;
}
#credits ul li {
  padding: 2px 0px;
  font-size: 20px;
}
#credits h2 {
  font-size: 30px;
  color: #ffddff;
}
#credits .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#credits-footer {
  color: #e4eaf6;
  font-size: 16px;
  padding: 20px 0px;
}

@media (min-width: 900px) {
  body {
    transition: none;
  }
  body::before {
    transition: none;
  }
  header {
    transition: none;
    height: 91px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 83px;
  }
  header #logo {
    padding: 0px;
  }
  header #mobile-lines {
    display: none;
  }
  header #logo-text {
    max-width: 356px;
    cursor: pointer;
  }
  header #navbar {
    display: block;
  }
  header #navbar {
    transition: none;
    flex-shrink: 0;
    opacity: 1;
    height: auto;
  }
  header #navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    list-style-type: none;
  }
  header #navbar li {
    transition: color 0.25s;
    color: #e4eaf6;
    cursor: pointer;
    font-size: 24px;
  }
  header #navbar li:hover {
    color: white;
  }
  #designer-page #collection-gallery .container {
    max-width: 400px;
  }
  #designer-page #collection-gallery .container .description {
    font-size: 24px;
  }
  #designer-page #flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 40px;
  }
  #designer-page #flex-horizontal:before {
    left: 15px;
    top: auto;
  }
  #designer-page #flex-horizontal #designer-headshot,
  #designerlogo {
    width: 250px;
  }
  #designer-page #flex-horizontal #flex-vertical {
    padding: 0 40px 40px 40px;
    max-width: 642px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  #credits {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  #credits .column {
    justify-content: flex-start;
    margin: 0px 15px;
  }
}

/* For medium-small screens (mobile, ipad) */
@media only screen and (max-width: 900px) {

  .next-pink,
  .back-pink {
    right: 3%;
    top: 120px;
    width: 50px;
    height: 58px;
    background-size: 50px;
  }
  
  .back-pink {
    left: 3%;
  }
}